NODE_VERSION=20.19.0
NEXT_PUBLIC_SITE_URL=https://jipcalc.co.kr
NEXT_TELEMETRY_DISABLED=1
GOOGLE_SITE_VERIFICATION=
NEXT_PUBLIC_ADFIT_MOBILE_RECTANGLE_IMAGE=
NEXT_PUBLIC_ADFIT_MOBILE_THIN_BANNER=
NEXT_PUBLIC_ADFIT_DESKTOP_RIGHT_TOP=
NEXT_PUBLIC_ADFIT_MOBILE_BANNER=
NEXT_PUBLIC_ADFIT_DESKTOP_WEB_BANNER=
