NODE_VERSION=20.19.0
NEXT_PUBLIC_SITE_URL=https://jipcalc.co.kr
NEXT_TELEMETRY_DISABLED=1
GOOGLE_SITE_VERIFICATION=
PUBLIC_ADFIT_HOME_MOBILE=
PUBLIC_ADFIT_HOME_DESKTOP=
PUBLIC_ADFIT_GUIDE_MOBILE=
PUBLIC_ADFIT_GUIDE_DESKTOP=
PUBLIC_ADFIT_CALC_ARTICLE_MOBILE=
PUBLIC_ADFIT_CALC_ARTICLE_DESKTOP=
PUBLIC_ADFIT_CALC_POST_TOOL_MOBILE=
PUBLIC_ADFIT_CALC_POST_TOOL_DESKTOP=
